@use "@angular/material" as mat;
@import "variables";
@include mat.core();

$etrack-primary: mat.define-palette($primary-palette);
$etrack-accent: mat.define-palette($accent-palette);

$etrack-theme: mat.define-light-theme(
  (
    color: (
      primary: $etrack-primary,
      accent: $etrack-accent,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

@include mat.all-component-themes($etrack-theme);

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
