// Colors
$bgColor: #1a1a1e;
$primaryColor: #434344;
$accentColor: #b5ff56;
$whiteColor: #fdfdff;
$lightGrayColor: #e6e6e8;
$subGrayColor1: #c8c8cb;
$subGrayColor2: #9d9d9f;
$subGrayColor3: #58585a;


// Size
$baseSize: 6px;
$baseBorderRadius: 9px;
$fontSize: 16px;
$fontSizeSmaller: 14px;
$fontSizeSmall: 12px;
$fontSizeLarger: 20px;
$fontSizeLarge: 24px;
