<div class="table-header" [formGroup]="searchForm">
  <button mat-flat-button color="accent" (click)="onAddTransactionClick()">
    <mat-icon>add</mat-icon>
    ADD
  </button>

  <mat-form-field appearance="outline" class="search-field">
    <input
      matInput
      placeholder="Search by description"
      formControlName="searchField"
    />
    <mat-icon matPrefix fontIcon="manage_search"></mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline" class="range-select">
    <mat-select formControlName="periodSelector">
      <mat-option *ngFor="let period of periods" [value]="period.value">
        {{ period.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="table-wrapper">
  <div class="table-wrapper_spinner" [ngClass]="{ hidden: !isLoading }">
    <mat-spinner></mat-spinner>
  </div>

  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
      <td mat-cell *matCellDef="let transaction">
        {{ transaction.date | date }}
      </td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
      <td
        mat-cell
        *matCellDef="let transaction"
        [ngClass]="transaction.type === 'Expense' ? 'expense-transaction' : 'income-transaction'"
      >
        {{ transaction.amount | currency: "Br " }}
      </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
      <td mat-cell *matCellDef="let transaction">
        {{ transaction.description }}
      </td>

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
        <td mat-cell *matCellDef="let transaction">
          {{ transaction.category.name || "-" }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns" (click)="onRowClick(row)" class="transaction-row"></tr>
    </ng-container>
  </table>
  <mat-paginator
    class="paginator"
    [length]="paginatorLength"
    [pageSize]="pageSize"
    [pageSizeOptions]="paginatorOptions"
  ></mat-paginator>
</div>
